/* Styles for the chat app */
.message-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}

.message-input:focus {
  border-color: #007bff;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.heading {
  font-size: 24px;
  color: #ffff;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner-container {
  display: flex;
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.flex-input {
  flex: 1;
}

.margin-left {
  margin-left: 10px;
}
